.section__padding {
  @apply py-16;
}

.section__title {
  @apply font-inter text-xl font-bold text-additionalText;
}

.section__subtitle {
  @apply text-main font-playfair text-3xl sm:text-4xl md:text-5xl text-center sm:leading-snug md:leading-snug;
}

.section__description {
  @apply font-inter text-additionalText md:text-xl text-center md:leading-normal leading-normal;
}

.grain-effect {
  background-image: url('../assets/img/grain.png');
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b291f;
}
